table {
  width: 100%;
  border-spacing: 0 10px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f8f8f8;
}

td {
  background-color: #ffffff;
}

td:nth-child(4) {
  width: 20%;
}

td:nth-child(5) {
  width: 25%;
}

.pagination-container {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}