<div class="card" style="margin-bottom: 5px;">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ text }}</p>
    <p>Created at {{createdDate | date}}</p>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-warning fw-bolder me-2 hover-white" (click)="button1Click.emit()">{{ button1Label }}</button>
      <ng-container *ngIf="button2Label">
        <button class="btn btn-outline-danger fw-bolder" (click)="button2Click.emit()">{{ button2Label }}</button>
      </ng-container>
    </div>
  </div>
</div>