.task-columns {
  display: flex;
  gap: 10px;
}

.task-column {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  height: 70vh;
}

.new-tasks {
  background-color: #f7b8b7;
}

.in-progress-tasks {
  background-color: #fff495;
}

.completed-tasks {
  background-color: #9ff5b3;
}

.column-header {
  text-align: center;
}