footer {
  background-color: #343a40;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h6 {
  color: #ffce00;
  text-align: left;
}
.social-btn {
  color: white !important;
}
.social-btn:hover {
  color: #ccc !important;
}
.text-body {
  color: white !important;
}
.list-unstyled {
  list-style: none;
  padding: 0;
}
.list-unstyled li {
  margin-bottom: 0.5rem;
}
p {
  text-align: left;
}