.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}