<div class="page-container">
  <form [formGroup]="form" class="form-container m-5 mt-2">
    <div>
      <label for="titleInput"><b>Task Title:</b></label>
    </div>
    <input formControlName="title" type="text" id="titleInput" class="form-input"/>

    <div>
      <label for="descriptionInput"><b>Task Description:</b></label>
    </div>
    <textarea formControlName="description" id="descriptionInput" class="form-input"></textarea>

    <div>
      <label for="statusInput"><b>Status:</b></label>
    </div>
    <app-select-box formControlName="status" [items]="statuses" class="form-input"></app-select-box>

    <div class="button-container">
      <app-button type="submit" (click)="onFormSubmit()">Add</app-button>
    </div>
  </form>

</div>